h1, nav{
	font-family: helvetica;
	text-align: center;
}

h2{
	font-family: helvetica;
	font-size: 18px;
	text-align: left;
}

nav{
	font-weight:bold;
	font-style: underline;
	text-align: center;
}

nav, h1{
	text-align: center;
}

body {
	font-family: times;
	font-size: 18px;
}

img{
	max-width: 25%;
	max-height: auto;
	text-align: right;
    float: right;
    border: 1px solid black;
    padding: 5px;
    margin: 0px 0px 15px 20px;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}